* {
	xoutline:  1px dashed red;
}

.flex {
	display: flex;
}
.end {
	justify-content: flex-end;
} 
.between {
	justify-content: space-between;
}
.padded {
	padding: 20px;
}
.gap {
	gap: 20px
}
.fit {
	flex: 1;
}
html, body {
	height: 100%;
}
a img {
	xdisplay: block;
}
.reset {
	padding: 0;
	margin: 0;
}
.inherit {
	height: inherit;

}
.vertical {
	flex-direction: column;
}
.hcenter {
	justify-content: center;
}

.nobullet {
	list-style: none;
}
.vcenter {
	align-items: center;

}
.rounded {
	border: 1px solid black;
	border-radius: 50%;
	padding: 10px;
	height: 90px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.modal > * {
	position: relative;
	background-color: white;
}
.modal::before {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.frame {
	border: 2px solid;
}
.colormain {
	background-color: red;
}