* {
	outline:  1px dashed red;
}

.flex {
	display: flex;
}
.end {
	justify-content: flex-end;
} 
.between {
	justify-content: space-between;
}
.padded {
	padding: 20px;
}
.gap {
	gap: 20px
}
.fit {
	flex: 1;
}
html, body {
height: 100%;
}
.reset {
	padding: 0;
	margin: 0;
}
.inherit {
	height: inherit;

}
.vertical {
	flex-direction: column;
}


.nobullet {
	list-style: none;
}
.vcenter {
	align-items: center;

}